<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--jspViewResolver jsp视图解析器-->
	<!--	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
	<!--		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
	<!--		<property name="prefix" value="WEB-INF/jsp/"/>&lt;!&ndash;后台默认返回查找视图文件路径&ndash;&gt;-->
	<!--		<property name="suffix" value=".jsp"/>&lt;!&ndash;后台返回视图默认添加的后缀&ndash;&gt;-->
	<!--	</bean>-->

	<bean id="user" class="com.golaxy.springmvc.entity.User">
		<constructor-arg name="name" value="duo"/>
		<constructor-arg name="age" value="20"/>
	</bean>
</beans>